* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F5E8C7;
    min-height: 100vh;
    font-size: 18px;
    font-family: Oswald, Roboto, Arial, Helvetica, sans-serif;
    margin: 50px;
    height: 1600px;
}

img {
    width: 100%;
}

.main {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1d385;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 -5px 10px 5px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%) scale(1);
    /* display: none;*/
}

table {
    position: absolute;
    /*top: 0;
    right: 0;*/
    bottom: 0;
    /*    left: 0;*/
    /*    display: flex;
    justify-content: center;
    align-items: center;*/
    margin: 0 5px 23px 23px;
}

#box {
    height: 40px;
    width: 93%;
    padding-left: 10px;
    background: #fceecb;
    border: 2px solid rgb(187, 3, 3);
    margin: 6px;
    font-size: 15px;
    border-radius: 4px;
    color: #753422;
    outline: auto;
    font-size: 15px;
}

.login-btn {
    height: 30px;
    width: 52%px;
    padding: 5px;
    background: #fceecb;
    border: 2px solid rgb(187, 3, 3);
    margin: 4.5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    color: #753422;
    outline: auto;
    font-size: 15px;
}

.icon {
    font-size: 2em;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F5E8C7;
    min-height: 100vh;
    font-size: 18px;
    font-family: Oswald, Roboto, Arial, Helvetica, sans-serif;
    margin: 50px;
    height: 1600px;
}

img {
    width: 100%;
}

.main {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1d385;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 -5px 10px 5px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%) scale(1);
    /* display: none;*/
}

table {
    position: absolute;
    /*top: 0;
    right: 0;*/
    bottom: 0;
    /*    left: 0;*/
    /*    display: flex;
    justify-content: center;
    align-items: center;*/
    margin: 0 5px 23px 23px;
}

#box {
    height: 40px;
    width: 93%;
    padding-left: 10px;
    background: #fceecb;
    border: 2px solid rgb(187, 3, 3);
    margin: 6px;
    font-size: 15px;
    border-radius: 4px;
    color: #753422;
    outline: auto;
    font-size: 15px;
}

.login-btn {
    height: 30px;
    width: 52%px;
    padding: 5px;
    background: #fceecb;
    border: 2px solid rgb(187, 3, 3);
    margin: 4.5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    color: #753422;
    outline: auto;
    font-size: 15px;
}

.icon {
    font-size: 2em;
}

.kk {
    color: #ffd15c;
}

.tambahmenu {
    height: 45px;
    width: 20%;
    float: right;
    margin: 6px;
    background: #f1dfb1;
    border: 2px;
    padding-top: 0px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    color: #a08238;
    outline: auto;
    font-size: 15px;
}

.tambahmenu a {
    display: block;
    color: #a08238;
    border-radius: 10px;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.tambahmenu a:hover {
    background-color: #a08238;
    color: white;
}